.menu-div {
  background-color: rgba(243, 239, 239, 0.877);
  width: 30%;
  font-size: 24px;
  height: auto;
}

.menu-1 {
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 16px;
  margin: 16px 8px ;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
  box-shadow: 4px 4px 4px rgb(172, 172, 172);
  &:hover{
    cursor: pointer;
    background-color: whitesmoke;
    transition: ease-in-out 0.2s;
  }
}

.menu-2 {
  font-family: 'Courgette', cursive;
  margin-bottom: 16px;
  margin: 16px 8px ;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
  box-shadow: 4px 4px 4px rgb(172, 172, 172);
    &:hover{
    cursor: pointer;
    background-color: whitesmoke;
    transition: ease-in-out 0.2s;
  }
}

.menu-3 {
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 16px;
  margin: 16px 8px ;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
  box-shadow: 4px 4px 4px rgb(172, 172, 172);
    &:hover{
    cursor: pointer;
    background-color: whitesmoke;
    transition: ease-in-out 0.2s;
  }
}

.menu-4 {
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 16px;
  margin: 16px 8px ;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
  box-shadow: 4px 4px 4px rgb(172, 172, 172);
    &:hover{
    cursor: pointer;
    background-color: whitesmoke;
    transition: ease-in-out 0.2s;
  }
}

.menu-5 {

  margin-bottom: 16px;
  margin: 16px 8px ;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
  box-shadow: 4px 4px 4px rgb(172, 172, 172);
    &:hover{
    cursor: pointer;
    background-color: whitesmoke;
    transition: ease-in-out 0.2s;
  }
}
